<!-- Toggle Button -->
<button
  class="btn m-3 custom-button"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#sidebar"
  aria-controls="sidebar"
>
  ☰ {{ currentRoute }}
</button>

<!-- Sidebar -->
<div
  class="offcanvas offcanvas-start custom-sidebar"
  tabindex="-1"
  id="sidebar"
  aria-labelledby="sidebarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">Navigation</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-bs-dismiss="offcanvas"
          routerLink="/dashboard"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/social"
          style="padding-left: 45px"
          >Social</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/planner"
          style="padding-left: 45px"
          >Planner</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/distance"
          style="padding-left: 45px"
          >Distance</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/weight"
          style="padding-left: 45px"
          >Weight</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/nutrition"
          style="padding-left: 45px"
          >Nutrition</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-dismiss="offcanvas"
          routerLink="/sleep"
          style="padding-left: 45px"
          >Sleep</a
        >
      </li>
    </ul>
  </div>
  <button class="btn m-2 settings-button" routerLink="settings" data-bs-dismiss="offcanvas">
    Settings
    <i class="bi bi-gear"></i>
  </button>
</div>
